// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700.css');
html,
body {
  margin: 0;
  padding: 0;
}
.app {
  font-family: 'Lato';
  margin: auto auto;
  max-height: 100vh;
  overflow: hidden;
  .tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 12pt;
    opacity: 0;
    border: 1px solid #ccc;
    padding: 4px 7px;
    position: fixed;
    z-index: 3;
  }
  .chart_container {
    background-color: #f0f0f0;
    svg {
      .title {
        font-size: 20pt;
      }
      .line_container {
        path {
          stroke-width: 0.5;
          stroke: rgba(0, 0, 0, 0.5);
          &.current_avg_temp_line {
            fill: none;
            stroke-width: 1.5;
          }
        }
        .grid {
          line {
            stroke-width: 0.5;
            stroke: rgba(0, 0, 0, 0.5);
          }
        }
        .linegraptext {
          font-size: 7pt;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .center_container {
        background-color: rgba(255, 255, 255, 0.9);
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15) inset;
        filter: blur(2px);
        position: fixed;
      }
      .center_text {
        // fill: #e16767;
        fill: #000;
        tspan {
          z-index: 2;
          position: absolute;
          text-transform: uppercase;
          &.year_text {
            font-size: 14pt;
          }
          &.year {
            font-size: 40pt;
            line-height: 40pt;
            font-weight: 700;
          }
          &.temp {
            font-size: 18pt;
          }
        }
      }
      .chart_legend_rings {
        text {
          fill: #000;
        }
      }
      .bars_container {
        display: block;
      }
      .bars_info_container {
        display: block;
        .bar_info_container {
          display: block;
          text {
            opacity: 0.7;
          }
        }
      }
      .continent_text {
        fill: rgba(0, 0, 0, 1);
        font-size: 11pt;
      }
    }
  }
  .bars_aux {
    display: block;
  }
  .range_container {
    bottom: 50px;
    display: block;
    font-size: 9pt;
    left: calc(50% - 450px);
    position: absolute;
    width: 200px;
    z-index: 1;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    input[type=range] {
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      pointer-events: auto;
      width: 100%;
    }
  }
  .scales_container {
    bottom: 60px;
    color: #000;
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: 400;
    opacity: 1;
    z-index: 1;
    position: absolute;
    left: calc(50% + 200px);
    &:after,
    &:before {
      display: inline-block;
      line-height: 14px;
      position: absolute;
      text-align: center;
      width: 28px;
    }
    &:before {
      content: '+3 °C';
      right: -31px;
      text-align: left;
    }
    &:after {
      content: '-3 °C';
      left: -31px;
      text-align: right;
    }
    .scale_container {
      color: #000;
      display: inline-block;
      float: left;
      height: 14px;
      width: 1.8px;
      .scale_text_zero {
        left: -10px;
        line-height: 14px;
        position: relative;
        text-align: center;
        width: 25px;
      }
    }
  }
}

@import 'basics.less';